.video-container {
  max-width: 960px;
  width: 100%;
  display: block;
  position: relative;
  margin: 0 auto;
}
.video-container:after {
  padding-top: 56.25%;
  display: block;
  content: '';
}
.video-container .video-js {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.video-js .now-playing {
  display: none;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 30%;
  min-width: 260px;
  background-color: #555;
  background-color: rgba(0,0,0,.65);
  color: white;
  font-size: 16px;
}
@media (min-width:768px) {
  .video-js.vjs-has-started .now-playing {
    display: block;
  }
}
.now-playing p, .now-playing em, .now-playing a {
  display: block;
  margin: 4px 10px;
  padding: 0 10px;
}
.now-playing p {
  margin: 14px 10px 8px;
}
.now-playing em {
  font-size: 21px;
  font-style: normal;
}
.now-playing a {
  background-color: #3a3d46;
  margin-right: 25%;
  margin-bottom: 14px;
  padding: 10px 10px 6px;
  font-size: 16px;
  text-decoration: none;
}
.now-playing a:hover {
  color:white;
  text-decoration: none;
}
.now-playing a span {
  float: right;
  margin-right: 16px;
  font-size: 24px;
  margin-top: -7px;
}
.video-js .product-sheet {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 115px;
  background-color: #555;
  background-color: rgba(0,0,0,.65);
}
@media (min-width:768px) {
  .video-js.vjs-has-started .product-sheet, .video-js.vjs-has-started .product-arrow.more-products {
    display: block;
  }
  .video-js.vjs-has-started .vjs-control-bar {
    padding-right:115px;
  }
}
.video-js .product-arrow {
  position: absolute;
  right: 15px;
  cursor: pointer;
  display: none;
}
.video-js .product-arrow-up {
  top: 5px;
}
.video-js .product-arrow-down {
  bottom: 5px;  
}
.video-js .product-thumbs {
  box-sizing: content-box;
  width: 95px;
  margin-left: -105px;
  margin-top: 37px;
  padding-left: 115px;
  height: 430px;
  overflow: hidden;
}
@media (max-width:991px) {
  .video-js .product-thumbs {
    height: 331px;
  }
  .video-js .now-playing {
    width: 40%;
  }
}
.video-js .product-thumbs div {
  display: inline-block;
  position: relative;
  width: 200px;
  background-color: white;
  color: black;
  margin: 4px 0;
  -webkit-transition: margin-left 0.5s ease;
  -moz-transition: margin-left 0.5s ease;
  transition: margin-left 0.5s ease;
}
.video-js .product-thumbs div:hover, .video-js .product-thumbs div.active {
  margin-left: -106px;
}
.video-js .product-thumbs img {
  float: left;
  border-right: 1px solid #eee;
  border-color: rgba(0,0,0,0.0);
  width: 95px;
  height: 95px;
  cursor: pointer;
}
.video-js .product-thumbs .price, .video-js .product-thumbs a {
  float: left;
  display: block;
  width: 95px;
  margin-left: 9px;
  text-align: center;
}
.video-js .product-thumbs .price {
  margin-top: 11px;
}
.video-js .product-thumbs a {
  padding: 0;
  margin-top: 10px;
  background-position: 9px 0;
}
.product-thumbs.visible-xs {
  min-height: 200px;
}
.product-thumbs.visible-xs a {
  display: inline-block;
  width: 50%;
  color: black;
  border: 1px solid white;
  border-radius: 5px;
}
.product-thumbs.visible-xs a:hover {
  text-decoration: none;
  border: 1px solid #e5e5e5;
}
.product-thumbs.visible-xs img {
  max-width: 90%;
}
.product-thumbs .price {
  font-size: 24px;
}
.product-thumbs a {
  white-space: normal;
  vertical-align: top;
  text-align: center;
  font-size: 0.8em;
  text-decoration: none;
}