    .video-js .vjs-overlay-top-right{
        top:0;
        right: 0;
    }
    .video-js .vjs-overlay-top-right{
        width: 33%;
        background:#020617;
        border-radius: 0;
        padding: 0;
    }
    /*  左邊btn    */
    .video-js .vjs-overlay-top-left{
        width: 22%;
        background: green;
        cursor: pointer;
        padding: 0 0 0 5px;
    }
    p{margin: 0;}
    
    .aLink{visibility: hidden;}
    .playlistBlock{
        height: 369px;
        width:216px;
        background:#1e3246;
        padding: 10px;
        overflow-y: scroll;
        color:#f0f0f0;
        cursor: default;
        font-size: 14px;
    }
    .info{border-bottom: 1px solid #2c3c4c;padding-bottom: 10px;text-align: center;}
    .info p:first-child, .info p:nth-child(2){display: inline;}
    .number{margin-right: 3px; }
    .totText{ margin-left: 5px;}
    .total{display: inline;margin: 0 3px;}
    .unit{
        margin: 10px 0;
        padding: 10px;
        border-radius: 4px;
        border-bottom: 1px solid #2c3c4c;
        text-align: left;
    }
    .unit:hover{
        background-color: #1a242d;
        cursor: pointer;
    }
    .focusOption{
        background-color: #1a242d;
        cursor: default;
        outline: none;
    }
    
    .title{line-height: 22px;text-align: justify;display: inline;}
    .time{margin-top: 5px;text-align: right;}
   

    @media screen and (max-width:1200px){
        .playlistBlock{height: 315px;width:185px;}
    }
    @media screen and (max-width: 1167px){
        .playlistBlock{height: 297px;width:174px;}
    } 
    @media screen and (max-width: 992px){
        .playlistBlock{height: 378px;width:222px;}
    }
    @media screen and (max-width: 768px){
        .playlistBlock{height: 252px;width:148px;}
    } 
    @media screen and (max-width: 576px){
        .playlistBlock{height: 297px;width:174px;}
    }
    @media screen and (max-width: 480px){
        .playlistBlock{height: 180px;width:143px;}
    }
    @media screen and (max-width: 360px){
        .playlistBlock{height: 180px;width:145px;}
        .video-js .vjs-overlay-top-right{width: 45%;}
    }
