
#inplayer-bc-plugin-preview .right_content p{
	padding: 20px  !important;
	font-family :28px !important;
    font-family: -webkit-pictograph !important;
}

#inplayer-bc-plugin-preview .right_content a {
    font-family: -webkit-pictograph !important;
    font-size: 16px !important;
}
#inplayer-bc-plugin-preview .left_container{
	background-color: darkseagreen !important;
}
